
nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

body {
    margin : 0px;
    padding: 0;
    background-color: antiquewhite;
}

header {
    background-color: #333; /* Color de fondo del encabezado */
    color: white; /* Color del texto del encabezado */
    padding: 20px; /* Relleno del encabezado */
    margin: 0; /* Margen superior del encabezado */
}
footer {

    padding: 20px; /* Espaciado interior del footer */
    text-align: center; /* Alineación del texto en el centro */
    margin-left: auto; /* Centrado horizontal */
    margin-right: auto; /* Centrado horizontal */
   
}


td{
    text-align: center;
    width: 210px;
    padding: 20px;
    
}
.contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.contenido {

    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(50% - 10px);
    box-sizing: border-box;
    text-align: center;
}
.galeria{
    display:flex;
    width: 600px;
    height: 430px;
    margin: 10px;

}
.galeria {
    display: flex;
    width: 1500px;
    height: 430px;
    margin: 10px;
}

.galeria a {
    display: flex; /* Mostrar los enlaces en línea uno al lado del otro */
    width: 0px;
    flex-grow: 1; /* Ajusta el ancho de cada imagen */
    object-fit: cover;
    opacity: 1;
    transition: .5s ease; /* Cambio suave de la propiedad */
}
.galeria a :hover{
    cursor: crosshair;
    width: 300px; /* Ancho aumentado al hacer hover */
    opacity: 1;
    filter: contrast(120%);
}
.galeria a img{
    width: 10px;
    flex-grow: 1;
    object-fit: cover;
    opacity: 1;
    transition: .5s ease; /* Cambio suave de la propiedad */
}

.galeria a img:hover {
    cursor: crosshair;
    width: 300px; /* Ancho aumentado al hacer hover */
    opacity: 1;
    filter: contrast(120%);
}

.btn-23,
.btn-23 *,
.btn-23 :after,
.btn-23 :before,
.btn-23:after,
.btn-23:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn-23 {
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: button;
    appearance: button; /* Propiedad estándar */
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
  Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
  Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 400;
  line-height: 2;
  margin: 10;
  mask-image: radial-gradient(#000, #fff); /* Propiedad estándar sin prefijo */
-webkit-mask-image: -webkit-radial-gradient(#000, #fff); /* Prefijo para WebKit (Chrome, Safari, Opera) */
-moz-mask-image: -moz-radial-gradient(#000, #fff); /* Prefijo para Gecko (Firefox) */
-ms-mask-image: -ms-radial-gradient(#000, #fff); /* Prefijo para Microsoft (Internet Explorer) */
-o-mask-image: -o-radial-gradient(#000, #fff); /* Prefijo para Opera */
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
  text-transform: uppercase;
}

.btn-23:disabled {
  cursor: default;
}

.btn-23:-moz-focusring {
  outline: auto;
}
.btn-23 svg {
    display: flex;
    vertical-align: middle;
}

.btn-23 [hidden] {
  display: none;
}

.btn-23 {
  border-radius: 99rem;
  border-width: 2px;
  overflow: hidden;
  padding: 0.8rem 3rem;
  position: relative;
}

.btn-23 span {
  display: grid;
  inset: 0;
  place-items: center;
  position: absolute;
  transition: opacity 0.2s ease;
}

.btn-23 .marquee {
  --spacing: 5em;
  --start: 0em;
  --end: 5em;
  -webkit-animation: marquee 1s linear infinite;
  animation: marquee 1s linear infinite;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
  opacity: 0;
  position: relative;
  text-shadow: #fff var(--spacing) 0, #fff calc(var(--spacing) * -1) 0,
    #fff calc(var(--spacing) * -2) 0;
}

.btn-23:hover .marquee {
  -webkit-animation-play-state: running;
  animation-play-state: running;
  opacity: 1;
}

.btn-23:hover .text {
  opacity: 0;
}

@-webkit-keyframes marquee {
  0% {
    transform: translateX(var(--start));
  }

  to {
    transform: translateX(var(--end));
  }
}

@keyframes marquee {
  0% {
    transform: translateX(var(--start));
  }

  to {
    transform: translateX(var(--end));
  }
}



.container {
  position: relative;
  width: 190px;
  height: 254px;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  
  display: inline-block; /* Permite ajustar el ancho del div */
}

.card {
  position: relative;
  width: 190px;
  height: 254px;
  background: #f5f5f5;
  border-radius: 8px;
  color: #232323;
  padding: 16px;
  border: 1px solid #232323;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  overflow: hidden;
}

.card-hidden {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translateY(200%);
      -ms-transform: translateY(200%);
          transform: translateY(200%);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: .5rem;
  -webkit-transition: opacity .3s ease-in, -webkit-transform .5s ease-in;
  transition: opacity .3s ease-in, -webkit-transform .5s ease-in;
  transition: transform .5s ease-in, opacity .3s ease-in;
  transition: transform .5s ease-in, opacity .3s ease-in, -webkit-transform .5s ease-in;
  opacity: 0;
}

.card-border {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border: 1px dashed #232323;
  border-radius: 8px;
  z-index: -1;
}

/*Hovers*/
.card:hover {
  -webkit-transform: translate(-15px, -15px);
      -ms-transform: translate(-15px, -15px);
          transform: translate(-15px, -15px);
  border-color: #5bc0eb;
}

.card:hover .card-hidden {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.card:hover .title {
  -webkit-transform: translateY(200%);
      -ms-transform: translateY(200%);
          transform: translateY(200%);
}

/*Text*/
.title {
  position: absolute;
  bottom: 0rem;
  font-weight: 800;
  font-size: 1.5rem;
  -webkit-transition: -webkit-transform .25s ease-out;
  transition: -webkit-transform .25s ease-out;
  transition: transform .25s ease-out;
  transition: transform .25s ease-out, -webkit-transform .25s ease-out;
}
.title-in{
  font-weight: 700;
  font-size: 1.25rem;
}



